.container {
    text-align: center;
    margin-top: 150px;
}

.loader {
    width: 50px;
    height: 50px;
    margin: auto;
    border: 4px solid #938d8d;
    border-bottom-color: #292828;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}